[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "sebastienmarmin.github.io"]
	path = sebastienmarmin.github.io
	url = git@github.com:SebastienMarmin/sebastienmarmin.github.io.git
